<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <title></title>
  </head>
  <body>
    <div class="myform">
    <form class="signin" action="index.html" method="post">
      <input type="text" name="username" value="" placeholder="Username">
      <input type="password" name="password" value="" placeholder="Password">
      <button type="button" name="button" >Login</button>
    </form>
    <form class="signup" action="index.html" method="post">
      <input type="text" name="username" value="" placeholder="Username">
      <input type="text" name="email" value="" placeholder="your@email.com">
      <input type="password" name="password" value="" placeholder="password">
      <input type="password" name="confirmPassword" value="" placeholder="confirm password">
      <button type="button" name="button">signup</button>
    </form>
  </div>
  </body>
</html>
